* {
    margin: 0px;
    padding: 0px;
}


html {
    height: 100vh;
}

@font-face {
    font-family: 'Lato';
    src: url(assets/fonts/Lato-Medium.ttf);
}

body {
    font-family: Lato;    
    line-height: 160%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section-content {
    width: 1228px;
}

.button-orange-background{
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%); 
    color: #FFFFFF;
    border-radius: 4px;
    border-image: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%); 
    border-image-slice: 1;
}

.button-white-background{
    background: none;
    color:  #F86300;
    border-radius: 4px;
    border-image: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%); 
    border-image-slice: 1;    
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 80px;
    
}
.home-page-background {
    background-image: url(assets/photo/Фон.jpg);
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 36px;
}

a {
    text-decoration: none;
}

.main-nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 432px;
    font-weight: 700;
}

.buttons-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 386px;
    height: 52px;
}

.button-consultation button{ 
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    padding: 0 40px;
}

.button-entrance { /* в таких местах я могу ширину задавать 4тобы Just Работал? */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 155px;
}

.button-entrance button {
    background: none;
    border: 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
}

.content-home-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.studying-with-course {
    display: flex;
    flex-direction: column;
}

.play-video {
    display: flex;
    align-items: center;
    margin-top: 156px;
    font-weight: 700;
}

.play-video-button {
    border-radius: 202px;
    border: 0px;
    background-image: none;
}

h1 {
    display: flex;
    align-items: flex-start;
    width: 500px;
    font-weight: 900;
    font-size: 64px;
    line-height: 130%;
    margin-top: 24px;
    margin-bottom: 60px;
}

.buttons-home-page {
    display: flex;
   
}

.buttons-home-page button { /* под общие кнопки сделать */
    padding: 0 40px;
    border: 2px solid transparent;
    border-image: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%); 
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 259px;
    border-image-slice: 1;

}

.about-us-button {
    background: #ffdad5;
    color:  #F86300;
    width: 161px;
    height: 52px;
}

.explore-courses-button {
    margin-left: 24px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%); 
    color: #FFFFFF;
    width: 209px;
    height: 52px;
}

.image-home-page {
    position: relative;
    width: 602px;
    height: 551px;
}

.statistics {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.statistics :first-child :nth-of-type(1) {
    list-style-type: none;
}

.statistics-in-numbers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.statistics-in-numbers:not(:last-child) {
    margin-right: 60px; 
}


.statistics-in-numbers ::marker {
    color: #FF3F3A;
    font-size: 35px;
}

.statistics-number {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
}


.statistics-number-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-left: 12px;
}

.courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
    
}

.courses-image-girl-course {
    position: static;
    width: 705px;
    height: 560px;
    border-radius: 4px;
}

.who-we-are {
    margin-left: 135px;
}

.heading-courses {
    display: flex;
    flex-direction: row;
}

.div-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.div-header-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    width: 810px;
    text-align: center;
}

.ask {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.proposal {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    margin-top: 8px;
}

.list-of-advantages :not(:last-child) {
    margin-bottom: 12px;
}

.list-of-advantages li{
    position: relative;
    list-style: none;
    width: 358px;
    margin-left: 32px;
}

.list-of-advantages ul ::before{
    display: inline-block;
    content:'';
    background: url(assets/icons/photo_2022-06-28_13-56-36.jpg);
    width: 15px;
    height: 14px;
    background-size: contain;
    position: absolute;
    left: -29px;
    right: 0%;
    top: 8.17%;
    bottom: 4.16%;
}

.button-more-about-us {
    margin-top: 48px;
    padding: 0 32px;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    width: 164px; 
    height: 44px;
}

.container-list-of-courses-offered {
    margin-top: 20px;
    display: flex;
    gap: 30px;
}

.ready-to-learn {
    display: flex;
    flex-direction: column;
    margin-top: 180px;
}

.ready-to-learn-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    
}

.all-courses-button {
    width: 203px;
    height: 52px;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
}

.the-line-of-courses{
    display: grid;
    gap: 30px;
    
}

.list-of-courses-offered {
    display: flex;
    flex-direction: column;
}

.list-of-courses {
    display: flex;
    flex-direction: row;
}

.image-courses {
    width: 214px;
    border-radius: 4px 0 0 4px;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding:  33px 32px 32px;
    border: 1px solid #E5E8ED;
    border-radius: 0 4px 4px 0;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    transition: .5s;

}

.card-content:hover {
    cursor: pointer;
    transition: .5s;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.card-content :not(:last-child) {
    margin-bottom: 21px;
}

.badge {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    padding: 1px 8px;
    border-radius: 4px;
    height: 21px;
    color: #FFFFFF;
}

.marketing {
    width: 64px;
    background-color: #03CEA4;
}

.hr-recruting {
    width: 96px; 
    background-color: #F89828;
}

.management {
    width: 82px;
    background: #5A87FC; 
}

.design {
    width: 43px;
    background: #F52F6E;
}

.badge-description {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    width: 321px;
    height: 60px;
}

.info-price {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #FF4242;
}

.speaker {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #787A80;
}

.content-our-benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
    padding-bottom: 140px;
}

.buttons-our-benefits {
    display: flex;
    flex-direction: row;
}

.button-our-benefits {
    background: none;
    color: #9A9CA5;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    padding: 10px 73px 10px 71px;
}

.container-buttons-our-benefits button:hover{
    background: none;
    border: 1px solid;
    color:  #F86300;
    border-image: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%); 
    border-image-slice: 1; 
}

.container-information-our-benefits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 90px;
    width: 100%;
}

.container-information-our-benefits img {
    position: relative;
    width: 600px;
    height: 440px;
}

.information-our-benefits {
    display: flex;
    flex-direction: column;
    width: 504px;
    height: 42px;
    padding-bottom: 135px;
}

.information-our-benefits :first-child{
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    margin-bottom: 24px;
}

.information-our-benefits :last-child {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: start;
}

.container-our-events {
    background-image: url(assets/photo/background-our-events.jpg);
    padding-top: 80px;
    padding-bottom: 80px;
}

.our-events {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-event {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.schedule-our-events {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 32px 40px;
    border-radius: 4px;
}

.schedule-our-events:not(:last-child) { /* по4ему с first child не работает?!?!?!!?!?!? */
    margin-bottom: 24px;
}

.schedule-our-events:hover {
    cursor: pointer;
    transition: .5s;
    box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.schedule-our-events:hover .event-button {
    cursor: pointer;
    transition: 1s;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%); 
    color: #FFFFFF;
    border-radius: 4px;
    border-image: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%); 
    border-image-slice: 1;
}

.date-of-the-month {
    display: flex;
    align-items: center;
    color: #FF3F3A;
    width: 57px;
    height: 62px;
    font-weight: 900;
    font-size: 48px;
    line-height: 130%;
}

.container-month-time {
    display: flex;
    flex-direction: column;
}

.month {
    margin-bottom: 4px;
    width: 100px;
    height: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%
}

.time {
    width: 100px;
    height: 26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #787A80;
}

.event {
    display: flex;
    flex-direction: column;
}

.event-info {
    width: 757px;
    height: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
}

.division {
    width: 135px;
    height: 26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.event-button {
    height: 44px;
    padding: 0px 32px; /* white backgroun button -> border-image не дает работать border-radius */
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
}

.all-events {
    display: flex;
    align-items: center;
    margin-top: 60px;
    justify-content: space-evenly;
    width: 550px;
}

.all-events span {
    height: 42px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
}

.all-events-button {
    font-weight: 700;
    font-size: 16px;
    height: 52px;
    padding: 0px 40px;
}

.conteiner-issuance-of-certificates {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 120px 0 96px 0;
}

.issuance-of-certificates-info {
    display: flex;
    flex-direction: column;
    width: 392px;
}

.issuance-of-certificates-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-logo {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.certificate-img { /* не схожа по ширине с meet our team, да и другими классами */
    position: absolute;
    right: -60px; /* можно ли с минусом? или как ина4е сделать? */
}

.meet-our-team-testimonials {
    background-image: url(assets/photo/background-meet-our-team.jpg);
    padding-top: 166px;
    padding-bottom: 100px;
}

.content-meet-our-team {
    display: flex;
    flex-direction: column;
    margin-bottom: 180px;
}

.team-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.team-item-image{
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 285px;
    height: 340px;
    background: #FFCF2D;
    border-radius: 4px;
}

.team-item-image:hover::after{
    position: absolute;
    content: "";
    top: 0;      
	left: 0;
    width: 100%;
	height: 100%;
    background-image: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
}

.team-item-image:hover .contact-message {
    z-index: 2;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    height: 10px;
    right: 20px;
    bottom: 15px;
}

.teacher {
    position: absolute;
    bottom: 0;
}

.contact-message {
    display: none;
}

.contact-teacher { /* inst выше других */
    color: #a8a9ad;
}

.contact-teacher:hover {
    color: #FFFFFF;
    transition: 0.4s;
}

.description-person {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-teacher {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
}

.profession {
    font-size: 16px;
    line-height: 160%;
    color: #787A80
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-testimonials {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-arrow {
    display: flex;
    align-items: center;
    padding-left: 14px;
    width: 48px;
    height: 48px;
    border: 0px;
    border-radius: 23px;
    background-color: transparent;
}


.button-arrow:hover {
    display: flex;
    align-items: center;
    padding-left: 14px;
    border: 10px;
    color: white;
    background-color:#FF3F3A;;
    border-radius: 23px;
    transition:  0.5s;
}

.right-arrow {
    transform: rotate(180deg);
}

.content-testimonials {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 64px 105px 64px 163px;
    background: #FFFFFF;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px
}

.content-testimonials::after {
    display: flex;
    position: absolute;
    left: 105px;
    content: url(assets/icons/braces.png);
}

.comment {
    display: flex;
    text-align: start;
    width: 752px;
    height: 120px;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 24px;
}

.user-profile {
    display: flex;
}

.user-name {
    display: flex;
    flex-direction: column;
    margin: 11px 0 11px 20px;
}

.name-student {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 4px;
}

.position {
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
}

.dots {
    display: flex;
    justify-content: space-between;
    width: 198px;
    margin-top: 60px;
}

.container-our-blog {
    padding-top: 120px;
    padding-bottom: 180px;
}

.our-blog-header { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end
}

.go-to-blog-button {
    padding: 0 40px;
    height: 52px;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 16px;
}

.container-blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blog {
    display: flex;
    flex-direction: column;
    width: 390px;
}

.content-blog {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 16px;
}

.info-data-blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 321px;
    color: #787A80;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.about-what-profession {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
}

.about-what-profession::after{
    content: url(assets/icons/divider.svg);
    margin-left: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

.month-blog::before{
    content: url(assets/icons/calendar.svg);
    margin-right: 9px;
}

.month-blog::after{
    content: url(assets/icons/divider.svg);
    margin-left: 12px;
}

.time-blog::before{
    content: url(assets/icons/watch.svg);
    margin-right: 9px;
}

.blog-question {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
}

.answer-blog {
    font-size: 16px;
    line-height: 160%;
    color: #424551;
}

.go-to-the-blog span {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    margin-right: 8px;
}

.go-to-the-blog button{
    background: transparent;
    border: 0px;
}

.subscribe-to-notifications {
    position: relative;
    background-image: url(assets/photo/background-subscribe.png);
    padding-top: 120px;
    padding-bottom: 180px;
}

.container-subscribe-to-notifications {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illiustration-left-subscribe {
    position: absolute;
    left: 0;
    bottom: 0;
}

.illiustration-right-subscribe {
    position: absolute;
    right: 0;
    bottom: 0;
}

.email-subscribe {
    padding: 13px 271px 13px 16px;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.subscribe-button {
    padding: 0px, 40px, 0px, 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px; 
    letter-spacing: 0.5px;
    border-radius: 4px;
} /* круглые кнопки так и не по4инили */

footer {
    display: flex;
    align-items: center;
    background-color: #1E212C;
    padding-top: 80px;
    padding-bottom: 20px;
}

.container-footer {
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
}

.info-createx {
    display: flex;
    flex-direction: column;
    width: 279px;
}

.info-createx span {
    opacity: 0.6;
    margin-top: 25px;
    margin-bottom: 39px;
    font-size: 12px;
    line-height: 150%;  
    height: 90px;
}

.social-network-footer {
    display: flex;
    justify-content: space-between;
    width: 244px;
    color: #9A9CA5;
}

.social-network-footer a:hover {
    color: #FFFFFF;
    transition: 0.5s;
}

.navbar-footer {
    display: flex;
    flex-direction: column;
}

.heading-navbar {   
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 12px;
}

.navbar-footer a {
    opacity: 0.6;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.navbar-footer a:hover {
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
}

.navbar-footer a:not(:last-child) {
    margin-bottom: 8px;
}

.icons-contacts-phone::before {
    content: url(assets/icons/phone.svg);
    margin-right: 11px;
    margin-left: 3px;
}

.icons-contacts-email::before {
    content: url(assets/icons/email.svg);
    margin-right: 8px;
}

.email-subscribe-footer {
    width: 286px;
    padding-top: 9px;
    padding-bottom: 9px;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    margin-top: 12px;
    margin-bottom: 8px;
}

.reminder {
    width: 286px;
    opacity: 0.6;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
}